<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="utf-8">
        <title>Vue.js</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>

        <div id="app">
            <p>当店のご利用頻度は？{{ answer }}</p>
            <select v-model="answer">
                <option disabled value="">選択肢ろ</option>
                <option v-for="item in options" v-bind:value="item.label" v-bind:key="item.code">
                    {{item.label}}
                </option>
            </select>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="vue.js"></script>
    </body>
</html>