<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="utf-8">
        <title>Vue.js</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>

        <div id="app">
            <my-product name="ケースA" price="980円"></my-product>
            <my-product name="ケースB" price="1800円"></my-product>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="show-hello.js"></script>
        <script src="main.js"></script>
    </body>
</html>

