<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="utf-8">
        <title>Vue.js</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>

        <div id="app">
            {{ message }}
        </div>

        <div id="app-2">
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
            </span>
        </div>

        <div id="app-3">
            <span v-if="seen">Now you see me</span>
        </div>

        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>

        <div id="app-5" >
            <p>{{message}}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>

        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>


        <div id="app-7">
            <ol>
                <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
                ></todo-item>
            </ol>
        </div>



        <div id="todo" class="container">
            <h1>
                <button @click="purge">Purge</button>
                To Do リスト
                <spann class="info">{{remaining.length}}/{{todos.length}}</spann>
            </h1>
            <ul v-if="todos.length">
                <li v-for="(todo, index) in todos">
                    <input type="checkbox" v-model="todo.isDone">
                    <span v-bind:class="{done: todo.isDone}">{{ todo.title }}</span>
                    <span @click="deleteItem(index)" class="command">[x]</span>
                </li>
            </ul>
            <ul v-else>
                <li>NOTHING</li>
            </ul>
            <form v-on:submit.prevent="addItem">
                <input type="text" v-model="newItem">
                <input type="submit" value="Add">
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="main.js"></script>
    </body>
</html>




<!-- フォームと入力の同期 -->
<!-- <p>{{message}}</p>
<input v-model="message"> -->


<!-- 繰り返し処理 -->
<!-- <ol>
    <li v-for="item in list">{{item}}</li>
</ol> -->


<!-- クリックした時、選択要素が変わった時などのイベントを受け取る -->
<!-- <button v:on:click="handleClick"></button> -->



<!-- 関数
<p>{{count}}回クリックした！</p>
<button v-on:click="increment">カウントを増やす</button> -->