<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="utf-8">
        <title>Vue.js</title>
    </head>
    <body>

        <div id="app">
            <p>{{count}}回クリックした！</p>
            <button v-on:click="increment">カウントを増やす</button>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="main.js"></script>
    </body>
</html>



<!-- フォームと入力の同期 -->
<!-- <p>{{message}}</p>
<input v-model="message"> -->


<!-- 繰り返し処理 -->
<!-- <ol>
    <li v-for="item in list">{{item}}</li>
</ol> -->


<!-- クリックした時、選択要素が変わった時などのイベントを受け取る -->
<!-- <button v:on:click="handleClick"></button> -->