<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="utf-8">
        <title>Vue.js</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>

        <div id="app">
            <input type="text" v-model="name" v-on:input="input">
            <button v-on:click="add">モンスター追加</button>
            <h1>追加しようとしているモンスター：{{ name }}</h1>

            <ul>
                <li v-for="item in list" v-bind:key="item.id">
                    ID:{{item.id}} <br>  NAME:{{item.name}} <br>  HP:{{item.hp}}
                </li>
            </ul>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="main.js"></script>
    </body>
</html>